body{
    background: #161516;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.5fr 3fr
    
    
    
}

.titulo{
    margin: 0 auto;
    
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    
}

.calculadora{
    border: 10px solid #333333;
    border-radius: 8%;
    row-gap: 20px;
    padding: 13px;
    margin: 0 auto;
    background: #000000;
    height: 800px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr;
   
    
}

.tela{
    background: #000000;
    height: 100%;
    width: 600px;
    align-self: center;
    margin: 0 auto;
    
    
    
    
    
}

.botoes{
    row-gap: 20px;
    border: transparent;
    column-gap: 10px;
    height: 100%;
    width: 600px;
    background: #000000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr)
    
    
}
button{
    color: white;
    background: #333333;
    font-size: 50px;
    border-radius: 50%;
    border-color: #000000; 
    
}
button:active{
    color: #333333;
    background: rgb(136, 132, 132);
}
.botaoigual:active, .botaomais:active, .botaomenos:active, .botaomultiplicacao:active, .botaodivisao:active{
    background: white;
    color: #FD9D22;
    
}
.botaoigual:focus, .botaomais:focus, .botaomenos:focus, .botaomultiplicacao:focus, .botaodivisao:focus{
    background: white;
    color: #FD9D22;
    
}
.botaodelete:active, .botaoaoquadrado:active, .botaoresto:active, .botaofatorial:active{
    background: #000000;
    color: #A5A5A5
    
}

.botaoigual, .botaomais, .botaomenos, .botaomultiplicacao, .botaodivisao{
    background: #FD9D22;
    color: white;
}

.botaodelete, .botaoaoquadrado, .botaoresto{
    background: #A5A5A5;
    color: #000000
}

